/* You need to create the rest of styles for the layout shown */

.options {
    flex-basis: 24%;
    margin: 0 2rem;
    border: 1px dashed rgb(84, 0, 50);
    padding: 1rem;
    border-radius: 1rem;
    box-shadow: 0.25rem 0.25rem 0.5rem rgb(154, 96, 132);
}

.choices {
    display: flex;
}
